
.odd{
    background-color: #7fd3ff47;
}
.even{
    background-color:#7fd3ff17;
}
.buttonDiv{
 background-color: #84d7ff;
}

.table thead{
    background-color: #aae3fe;
}
.table thead td{
    border: 1px #7fd3ff47 solid;
    text-align: center;
}
.table tbody td{
    border: 1px #7fd3ff47 solid;
    text-align: center;
}

.submitTables input{
    width:100%;
    height: 30px;
}
.submitTables tr{
    height: 38px;
}
.submitTables textarea{
    width:100%;
}

.submitLabel{
    color:red;
    font-size:18px;
}
.topbar{
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#52aff0), to(#c8fcff));/*谷歌*/
    height:60px;
}
.menu{
 background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#c8fcff), to(#2dc3f3));/*谷歌*/
 height:585px;
 opacity: 0.45;
}
.work{
  background:rgba(240,251,255,1);
}
.select{
  background:rgba(223,254,254,0.6);
}