
.odd{
    background-color: #7fd3ff47;
}
.even{
    background-color:#7fd3ff17;
}
.buttonDiv{
 background-color: #84d7ff;
}
.buttonPlace{
    margin-left:45%;
}
.table thead{
    background-color: #aae3fe;
}
.table thead td{
    border: 1px #7fd3ff47 solid;
    text-align: center;
}
.table tbody td{
    border: 1px #7fd3ff47 solid;
    text-align: center;
}
.submitTables{
    margin-left:35%;
}
.submitTables input{
    width:100%;
    height: 30px;
}
.submitTables tr{
    height: 38px;
}
.submitTables textarea{
    width:100%;
}
.submitTables button{
    margin-left:80%;
    margin-top:5%;
    width:50px;
}
.submitLabel{
    color:red;
    font-size:18px;
}
.topbar{
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#008eef), to(#f6f6f8));/*谷歌*/
    height:60px;
}
.menu{
 background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#008eef), to(#f6f6f8));/*谷歌*/
 height:180px;
}
.work{
 background-color: #7fd3ff47;
}