@(name:String)
<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>bootIndex</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "theme/bootstrap-table/css/bootstrap-table.css")'/>
</head>
<body>

<div class="content" style="padding: 0px;">

    <section class="content-header">
        <h1>问题列表 <small>问题反馈系统问题列表</small></h1>
        <ol class="breadcrumb">
            <li>问题反馈系统</li>
            <li class="active">问题列表</li>
        </ol>
        <div style="border: 1px solid #333; margin-top: 10px;"></div>
    </section>


    <section class="content">
        <div class="box-body">
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <span class="col-sm-5 col-xs-5 col-md-5">标题</span>
                        <input id="questionTitle" type="text" class="col-sm-7" />
                    </div>
                </div>
                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <span class="col-sm-5 col-xs-5 col-md-5">问题描述</span>
                        <input id="questionDescription" type="text" class="col-sm-7" />
                    </div>
                </div>
                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <span class="col-sm-5 col-xs-5 col-md-5">问题提出者</span>
                        <input id="feedbacker" type="text" class="col-sm-7" />
                    </div>
                </div>
                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <button type="button" class="btn btn-primary" style="padding: 3px 10px; margin-left:5%"  id="btnSelect" >查询</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">

                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <span class="col-sm-5 col-xs-5 col-md-5">BUG负责人</span>
                        <input id="bugHeader" type="text" class="col-sm-7" />
                    </div>
                </div>
                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <span class="col-sm-5 col-xs-5 col-md-5">问题接口人</span>
                        <input id="transferName" type="text" class="col-sm-7" />
                    </div>
                </div>
                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <span class="col-sm-5 col-xs-5 col-md-5">方案责任人</span>
                        <input id="developerName" type="text" class="col-sm-7" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">

                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <span class="col-sm-5 col-xs-5 col-md-5">方案审核人</span>
                        <input id="schemeAuditName" type="text" class="col-sm-7" />
                    </div>
                </div>
                <div class="col-sm-3" style="margin-bottom: 5px;">
                    <div class="row">
                        <span class="col-sm-5 col-xs-5 col-md-5">问题验证人</span>
                        <input id="verifyName" type="text" class="col-sm-7" />
                    </div>
                </div>
            </div>
            <div class="row" style="margin-bottom: 5px;">
                <div class="col-sm-4" style="margin-bottom: 5px;">
                    <button type="button" class="btn btn-primary" style="padding: 3px 10px;"  onclick="questionAdd();" >新增</button>
                    <button type="button" class="btn btn-primary" style="padding: 3px 10px;"  onclick="questionDetail();" >详情</button>
                </div>
            </div>

            <!-- bootStrap tables -->
            <table id="questionTable" class="bodyTable">
            </table>

        </div>
    </section>


</div>
<script type="text/javascript" src='@routes.Assets.at("/public", "theme/bootstrap-table/js/bootstrap-table.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("/public", "theme/bootstrap-table/js/bootstrap-table-zh-CN.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("/public", "javascripts/questionSubmit.js")'></script>
</body>
</html>
