@(name: String)
<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>问题反馈系统主页面</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "theme/bootstrap3/css/bootstrap.min.css")'/>
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "theme/font-awesome/css/font-awesome.min.css")'/>
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "theme/AdminLTE/css/AdminLTE.min.css")'/>
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "theme/AdminLTE/skins/css/_all-skins.min.css")'/>
</head>
<body class="hold-transition skin-blue sidebar-mini fixed">
<div class="wrapper">
    <header class="main-header">
        <!-- Logo -->
        <a href="#" class="logo">
            <span class="logo-lg"><b>Inspur 问题反馈系统</b></span>
        </a>

        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">切换导航菜单</span>
            </a>

            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <!-- <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> -->
                            <span class="hidden-xs">@name,您好！</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Menu Body -->
                            <li class="user-body">
                                <div class="row">
                                    <div class="col-xs-6 text-center">
                                        <a href="#">修改密码</a>
                                    </div>
                                    <div class="col-xs-6 text-center">
                                        <a  id="logOut">退出</a>
                                    </div>
                                </div>
                                <!-- /.row -->
                            </li>
                            <!-- Menu Footer
                            <li class="user-footer">
                                <div class="pull-left">
                                    <a href="#" class="btn btn-default btn-flat">简介</a>
                                </div>
                                <div class="pull-right">
                                    <a href="#" class="btn btn-default btn-flat">退出</a>
                                </div>
                            </li>-->
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <ul id="sideMenu" class="sidebar-menu" data-widget="tree">
                <li class="header">导航菜单</li>
            </ul>
        </section>
    </aside>

    <!-- 主页面 -->
    <div id="contentWrapper" class="content-wrapper">

        <section class="content-header">
            <h1> 系统管理 <small>注释：主页面</small>
            </h1>
            <ol class="breadcrumb">
                <li>导航</li>
                <li class="active">图表</li>
            </ol>
            <div style=" border: 1px solid #333; margin-top: 10px;"></div>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-lg-3 col-xs-6">
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>150</h3>

                            <p>新消息</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                        <a href="#" class="small-box-footer">查看更多内容<i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <footer class="main-footer">
        <strong> &copy; 版权所有 浪潮电子信息产业股份有限公司 </strong>
    </footer>


</div>
<script type="text/javascript" src='@routes.Assets.at("/public", "theme/jquery/js/jquery.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("/public", "theme/bootstrap3/js/bootstrap.min.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("/public", "theme/AdminLTE/js/adminlte.js")'></script>
<script type="text/javascript" src='@routes.Assets.at("/public", "javascripts/myQuestionMain.js")'></script>

</body>
</html>
