@(userName :String)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题反馈列表</title>
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "stylesheets/questionList.css")' />
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "stylesheets/bootstrap.css")'/>
    <script type="text/javascript" src='@routes.Assets.at("/public", "javascripts/jquery-1.8.0.min.js")'></script>

</head>
<body>
<div class="col-md-12">
    <!-topbar->
    <div class=" col-md-12 topbar">
        <div class="wu-header-right">
            <p><strong><a href="/ipas/user.do/user.view">@userName</a></strong>，欢迎您！</p>
            <p><a  id="logOut">退出</a></p>
        </div>


    </div>
    <!-body->
    <div class="row work col-md-12">
        <!-左侧菜单->
        <div class="menu col-md-3 col-xs-3">
               <div id="menuId"></div>
        </div>
        <!-右侧工作区->
        <div class="work col-md-9 col-xs-9" >
            <!-查询条件->
            <div class="  col-md-12 select" >
                    <div class=" col-md-12">
                        <div class="col-md-5">
                            <div class="form-group clearfix">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <label>标题：</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input id="questionTitle" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group clearfix">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <label>问题描述：</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input id="questionDescription" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div style="position: absolute; right: 30px; top: 0px;">
                            <div class="form-group">
                                <button type="button" id="btnSelect" class="btn btn-primary btn-sm">查询</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="form-group clearfix">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <label>问题提出者：</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input id="feedbacker" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group clearfix">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <label>BUG负责人：</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input id="bugHeader" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="form-group clearfix">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <label>问题接口人：</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input id="transferName" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group clearfix">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <label>方案责任人：</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input id="developerName" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="col-md-5">
                            <div class="form-group clearfix">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <label>方案审核人：</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input id="schemeAuditName" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group clearfix">
                                <div class="col-xs-6 col-md-6 text-right">
                                    <label>问题验证人：</label>
                                </div>
                                <div class="col-xs-6 col-md-6">
                                    <input id="verifyName" class="form-control"/>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="   col-md-12" >
                <div class="buttonDiv">
                    <button  class="btn-primary" type="submit" id="btnNew">新建</button>
                </div>
                <table class="table" title="问题反馈系统列表" dataformatas="center-block" align="center">
                    <thead>
                    <tr>
                        <td>问题id</td>
                        <td>问题标题</td>
                        <td>BUG负责人</td>
                        <td>问题描述</td>
                        <td>修改意见</td>
                        <td>反馈时间</td>
                        <td>流程状态</td>
                    </tr>
                    </thead>
                    <tbody id="questionTable">

                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='@routes.Assets.at("/public", "javascripts/questionSubmit.js")'></script>

</body>
</html>