<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>问题反馈列表</title>
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "stylesheets/questionList.css")' />
    <link rel="stylesheet" type="text/css"  href='@routes.Assets.at("/public", "stylesheets/bootstrap.css")'/>
    <script type="text/javascript" src='@routes.Assets.at("/public", "javascripts/jquery-1.8.0.min.js")'></script>

</head>
<body>
<!-查询条件->
<div class="row col-md-12" style="margin-left: 30%;margin-bottom: 2%">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group clearfix">
                    <div class="col-xs-4 text-right">
                        <label>标题：</label>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <input id="questionTitle" class="form-control">
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group clearfix">
                    <div class="col-xs-4 text-right">
                        <label>问题描述：</label>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <input id="questionDescription" class="form-control">
                    </div>
                </div>
            </div>
            <div style="position: absolute; right: 60px; top: 0px;">
                <div class="form-group clearfix">
                    <button type="button" id="btnSelect" class="btn btn-primary btn-sm">查询</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group clearfix">
                    <div class="col-xs-4 text-right">
                        <label>问题提出者：</label>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <select id="feedbacker" class="form-control">
                            <option>请选择</option>
                            <option>李欣</option>
                            <option>陈小天</option>
                            <option>秦秀凡</option>
                            <option>张松</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group clearfix">
                    <div class="col-xs-4 text-right">
                        <label>BUG负责人：</label>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <select id="feedbacker" class="form-control">
                            <option>请选择</option>
                            <option>李欣</option>
                            <option>陈小天</option>
                            <option>秦秀凡</option>
                            <option>张松</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group clearfix">
                    <div class="col-xs-4 text-right">
                        <label>问题接口人：</label>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <select id="feedbacker" class="form-control">
                            <option>请选择</option>
                            <option>李欣</option>
                            <option>陈小天</option>
                            <option>秦秀凡</option>
                            <option>张松</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group clearfix">
                    <div class="col-xs-4 text-right">
                        <label>方案责任人：</label>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <select id="feedbacker" class="form-control">
                            <option>请选择</option>
                            <option>李欣</option>
                            <option>陈小天</option>
                            <option>秦秀凡</option>
                            <option>张松</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group clearfix">
                    <div class="col-xs-4 text-right">
                        <label>方案审核人：</label>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <select id="feedbacker" class="form-control">
                            <option>请选择</option>
                            <option>李欣</option>
                            <option>陈小天</option>
                            <option>秦秀凡</option>
                            <option>张松</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group clearfix">
                    <div class="col-xs-4 text-right">
                        <label>问题验证人：</label>
                    </div>
                    <div class="col-xs-6 col-md-8">
                        <select id="feedbacker" class="form-control">
                            <option>请选择</option>
                            <option>李欣</option>
                            <option>陈小天</option>
                            <option>秦秀凡</option>
                            <option>张松</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>

</div>

<div class="row col-md-12" >
    <div class="buttonDiv">
        <button  class="btn-primary" type="submit" id="btnNew">新建</button>
    </div>
    <table class="table" title="问题反馈系统列表" dataformatas="center-block" align="center">
        <thead>
        <tr>
            <td>问题id</td>
            <td>问题标题</td>
            <td>BUG负责人</td>
            <td>问题描述</td>
            <td>修改意见</td>
            <td>反馈时间</td>
            <td>问题状态</td>
            <td>流程状态</td>
        </tr>
        </thead>
        <tbody id="questionTable">

        </tbody>

    </table>
</div>
<script type='text/javascript' src='@routes.Assets.at("/public", "javascripts/questionSubmit.js")'></script>
<script type='text/javascript' src='@routes.Assets.at("/public", "javascripts/questionList.js")'></script>

</body>
</html>